{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript for Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest Fontawesome bootstap-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <!-- JQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--Angular JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--Pagination -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <!--Local CSS -->
    <link rel="stylesheet" href="{% static 'football/css/local.css' %}" />
    <!--Local JS -->
    <script src='{% static "football/js/local.js" %}'></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <div class='main-class row'>
        <div class="row">
            <div class="col-xs-6">
                <a href="{% url 'football:HomePage' %}"><img style="padding-left: 5%" src="{% static 'football/img/logo.png' %}" height="60%" width="60%" border="1px"></img></a>
            </div>
            <div class="col-xs-6">
                <h3 style="color:#6EFF33">Football Players</h3>
                <h3 style="color:#4DE4E4">Best Football Players Profiles</h3>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="well col-md-8 col-xs-8 col-xs-offset-2">
            <form class="form-inline" action="" method="get">
                <div style="width: 30%" class="form-group pull-left">
                    <select style="width: 90%" class="form-control" id="skills" name="skills">
                        <option {% if select == '0' %}selected{% endif %} disabled>Default</option>
                        <option {% if select == '1' %}selected{% endif %}>1</option>
                        <option {% if select == '2' %}selected{% endif %}>2</option>
                        <option {% if select == '3' %}selected{% endif %}>3</option>
                        <option {% if select == '4' %}selected{% endif %}>4</option>
                        <option {% if select == '5' %}selected{% endif %}>5</option>
                    </select>&nbsp;
                </div>
                <div style="width: 70%" class="form-group" style="display:inline;">
                    <div style="width: 90%" class="input-group">
                        <input class="form-control" id="player_name" name="player_name" type="text" placeholder="Search Players Nmaes">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <hr/>
    <div class="container">
        <div class=" delete-me row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block pagination %}
    {% endblock %}

</body>
</html>